@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@600&family=IM+Fell+Double+Pica&display=swap');

:root{
    --main-color :#F3F3F3;
    --second-color : #FF6060;
    --third-color : #D9D9D9;


}

body{
    background-color: #FFFFFF;
}

.iconcourtify{
    width: auto;
    height: auto;
    display: block;
    top: 300px;
    left: 800px;
    position: absolute;
    
}