@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@600&family=IM+Fell+Double+Pica&display=swap');

:root{
    --main-color :#F3F3F3;
    --second-color : #FF6060;
    --third-color : #D9D9D9;
    --main-font : 'https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@600&family=IM+Fell+Double+Pica&display=swap';


}

*{
    margin: 0;
    padding: 0;
    list-style:none;
    text-decoration: none;
    box-sizing: border-box;
       
}

.back{
    width: 1920px;
    height: 100px;
    background-color: #ffd336;

}

.tulisanback img{
    position: absolute;
    width: 40px;
    top: 20px;
    left: 20px;

}

.tulisanback h1{
    position: absolute;
    top: 28px;
    left: 80px;
    font-size: 25px;
    font-family: 'Inter';
    font-style: normal;
    
    

}

.tulisanback a{
    color: black;
}

.bagian1{
    font-family: 'Inter';
    font-style: normal;

}

.bagian1 h1{
    font-family: 'Inter';
    font-style: normal;
    position: absolute;
    top:120px ;
    left: 20px;
    font-size: 22px;
}

.bagian1 h2{
    font-family: 'Inter';
    font-style: normal;
    position: absolute;
    top:180px ;
    left: 60px;
    font-size: 22px;
}

.bagian1 img{
    top:173px ;
    left: 1800px;
    position: absolute;
    width: 35px;
    height: 40px;
}

.bagian1 h3{
    font-family: 'Inter';
    font-style: normal;
    position: absolute;
    top:180px ;
    left:20px;
    font-size: 22px;
    height: 30px;
    width: 30px;
    background-color: #FF6060;
    border-radius: 10px;
    text-align: center;
    color: white;
}

.bagian2 h1{
    font-family: 'Inter';
    font-style: normal;
    position: absolute;
    top:280px ;
    left: 60px;
    font-size: 22px;
}

.bagian2 h2{
    font-family: 'Inter';
    font-style: normal;
    position: absolute;
    top:317px ;
    left: 60px;
    font-size: 22px;
}

.bagian2 h3{
    font-family: 'Inter';
    font-style: normal;
    position: absolute;
    top:355px ;
    left: 60px;
    font-size: 22px;
}

.bagian2 h4{
    font-family: 'Inter';
    font-style: normal;
    position: absolute;
    top:240px ;
    left: 1700px;
    font-size: 22px;
}

.bagian3 h1{
    font-family: 'Inter';
    font-style: normal;
    position: absolute;
    top:285px ;
    left: 1740px;
    font-size: 22px;
    border-style: solid;
    width: 30px;
    text-align: center;
    border-radius: 10px;
    border-width: 2px;
}

.bagian3 h2{
    font-family: 'Inter';
    font-style: normal;
    position: absolute;
    top:317px ;
    left: 1740px;
    font-size: 22px;
    border-style: solid;
    width: 30px;
    text-align: center;
    border-radius: 10px;
    border-width: 2px;
}

.bagian3 h3{
    font-family: 'Inter';
    font-style: normal;
    position: absolute;
    top:350px ;
    left: 1740px;
    font-size: 22px;
    border-style: solid;
    width: 30px;
    text-align: center;
    border-radius: 10px;
    border-width: 2px;
}

.bagian4 h1{
    font-family: 'Inter';
    font-style: normal;
    position: absolute;
    top:530px ;
    left:20px;
    font-size: 22px;
    height: 30px;
    width: 30px;
    background-color: #FF6060;
    border-radius: 10px;
    text-align: center;
    color: white;
}

.bagian4 h2{
    font-family: 'Inter';
    font-style: normal;
    position: absolute;
    top:530px ;
    left: 60px;
    font-size: 22px;
}

.bagian4 img{
    top:523px ;
    left: 1800px;
    position: absolute;
    width: 35px;
    height: 40px;
}

.bagian5 h1{
    font-family: 'Inter';
    font-style: normal;
    position: absolute;
    top:780px ;
    left:20px;
    font-size: 22px;
    height: 30px;
    width: 30px;
    background-color: #FF6060;
    border-radius: 10px;
    text-align: center;
    color: white;
}

.bagian5 h2{
    font-family: 'Inter';
    font-style: normal;
    position: absolute;
    top:780px ;
    left: 60px;
    font-size: 22px;
}

.bagian5 img{
    top:773px ;
    left: 1800px;
    position: absolute;
    width: 35px;
    height: 40px;
}

.bagian6 h1{
    border-style: solid;
    border-width: 2px;
    background-color: #FF6060;
    width: 1850px;
    height: 30px;
    top: 950px;
    left: 27px;
    position: absolute;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-size: medium;
    
}

.bagian6 a{
    text-align: center;
    color: white;
}

.bagian7 h1{
    font-family: 'Inter';
    font-style: normal;
    position: absolute;
    top:430px ;
    left: 580px;
    width: 200px;
    font-size: 22px;
    background-color: #FF6060;
    border-radius: 10px;
    text-align: center;
    color: white;
    border-radius: 15px;
    height: 40px;
}

.bagian7 h2{
    font-family: 'Inter';
    font-style: normal;
    position: absolute;
    top:430px ;
    left:1180px;
    width: 200px;
    font-size: 22px;
    background-color: lightgreen;
    border-radius: 10px;
    text-align: center;
    color: white;
    border-radius: 15px;
    height: 40px;
}

.bagian7 a{
    color: whitesmoke;
    text-align: center;
   
}

